<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Safety work</title>
    <link rel="stylesheet" href="/styleAPP.css">
    <link rel="shortcut icon" href="/res/icon.png" />
</head>

<body>
   <form id= "blank" >
     <div>
      <h3>Бланк удостоверения</h3>
       <p><b> <%=userData.userName %></b></p>
         <p>Должность: <u><b><%=userData.userPhone%></b></u></p>
         <p>Разряд: <u><b><%=userData.discharge%></b></u></p>
        <p>Группа по электробезопасности: <b><%=userData.electroGroup%></b></p>
         <p>Цех работника: <u><b><%=userData.workshop%></b></u> </p>
   
         <p>Электронный адрес(почта): <u><b><%=userData.email%></b></u> </p>
        
         <p>Дата проверки знаниий по охране труда: <u><b><%=userData.dateTB%></b></u></p>
        
         <p>Дата следующей проверки знаниий по охране труда: <u><b><%=userData.dateTBNext%></b></u></p>
        
         <p>Дата медицинской проверки: <u> <b><%=userData.dateMed%></b></u></p>
         <p>Дата следующей медицинской проверки: <u><b><%=userData.dateMedNext%></b></u> </p>
        
         <p>Число талонов: <u><b><%=userData.userTalon%></b></u></p>
      </div>
        <div>
           <p><img class="logo" src="/res/brestenergo.jpg" /></p>
           <p><img class="picture" src="/<%= userData.fileName %>" /></p>
        </div>
    </form>
   
   
 </body>
</html>