<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Safety work</title>
    <link rel="stylesheet" href="/styleAPP.css">
    <link rel="shortcut icon" href="/res/icon.png" />
</head>

<body>
   <form id= "blank" >
      <h3>Бланк удостоверения</h3> 
       <p><b> <%=userData.userName %></b></p>
       <p>Должность: <b><%=userData.userPhone%></b></p>
        <p>Разряд: <b><%=userData.discharge%></b></p>
        <p>Группа по электробезопасности: <b><%=userData.electroGroup%></b></p>
        <p>Цех работника: <b><%=userData.workshop%></b> </p>
   
        <p>Электронный адрес(почта): <b><%=userData.email%></b> </p>
        
        <p>Дата проверки знаниий по охране труда: <b><%=userData.dateTB%></b></p>
        
        <p>Дата следующей проверки знаниий по охране труда: <b><%=userData.dateTBNext%></b></p>
        
        <p>Дата медицинской проверки: <b><%=userData.dateMed%></b></p>
        <p>Дата следующей медицинской проверки: <b><%=userData.dateMedNext%></b> </p>
        
        <p>Число талонов: <b><%=userData.userTalon%></b></p>
    </form>
   
   
 </body>
</html>